- page_title "New Branch"
- default_ref = params[:ref] || @project.default_branch

- if @error
  .alert.alert-danger
    %button.close{ type: "button", "data-dismiss" => "alert" } &times;
    = @error
%h3.page-title
  New Branch
%hr

= form_tag namespace_project_branches_path, method: :post, id: "new-branch-form", class: "form-horizontal js-create-branch-form js-requires-input" do
  .form-group
    = label_tag :branch_name, nil, class: 'control-label'
    .col-sm-10
      = text_field_tag :branch_name, params[:branch_name], required: true, autofocus: true, class: 'form-control js-branch-name'
      .help-block.text-danger.js-branch-name-error
  .form-group
    = label_tag :ref, 'Create from', class: 'control-label'
    .col-sm-10.dropdown.create-from
      = hidden_field_tag :ref, default_ref
      = button_tag type: 'button', title: default_ref, class: 'dropdown-toggle form-control js-branch-select', required: true, data: { toggle: 'dropdown', selected: default_ref, field_name: 'ref' } do
        .text-left.dropdown-toggle-text= default_ref
      = render 'shared/ref_dropdown', dropdown_class: 'wide'
      .help-block Existing branch name, tag, or commit SHA
  .form-actions
    = button_tag 'Create branch', class: 'btn btn-create', tabindex: 3
    = link_to 'Cancel', namespace_project_branches_path(@project.namespace, @project), class: 'btn btn-cancel'

:javascript
  var availableRefs = #{@project.repository.ref_names.to_json};

  new NewBranchForm($('.js-create-branch-form'), availableRefs)
